#question 1

In [56]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [57]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [58]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [59]:
search_YouTube=driver.find_element_by_xpath("//*[@id='searchInput']")
search_YouTube.send_keys("most viewed videos on YouTube")

In [60]:
search_btn1=driver.find_element_by_xpath("//*[@id='searchButton']")
search_btn1.click()

In [61]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [64]:
Titles_tag=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
for i in Titles_tag:
    Rank.append(i.text)
Rank[0:5]

['1.', '2.', '3.', '4.', '5.']

In [65]:
Title_tag=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]/a")
for i in Title_tag:
    Name.append(i.text)
Name[0:5]

['Baby Shark Dance',
 'Despacito',
 'Shape of You',
 'See You Again',
 'Johny Johny Yes Papa']

In [66]:
Title_tag=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
for i in Title_tag:
    Artist.append(i.text)
Artist[0:5]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'Wiz Khalifa',
 'LooLoo Kids']

In [67]:
Title_tag=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in Title_tag:
    Upload_date.append(i.text)
Upload_date[0:5]

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'April 6, 2015',
 'October 8, 2016']

In [68]:
Title_tag=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in Title_tag:
    Views.append(i.text)
Views[0:5]

['8.09', '7.24', '5.21', '4.99', '4.90']

In [75]:
import pandas as pd
youtube=pd.DataFrame()
youtube['Rank']=Rank[0:30]
youtube['Name']=Name[0:30]
youtube['Artist']=Artist[0:30]
youtube['Upload_date']=Upload_date[0:30]
youtube['Views']=Views[0:30]

In [76]:
youtube

,Rank,Name,Artist,Upload_date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.24
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.21
3,4.,See You Again,Wiz Khalifa,"April 6, 2015",4.99
4,5.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.90
5,6.,Uptown Funk,Get Movies,"January 31, 2012",4.42
6,7.,Gangnam Style,Mark Ronson,"November 19, 2014",4.11
7,8.,Sorry,Psy,"July 15, 2012",4.00
8,9.,Sugar,Miroshka TV,"February 27, 2018",3.74
9,10.,Roar,Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,Counting Stars,ChuChu TV,"March 6, 2014",3.60
11,12.,Thinking Out Loud,Justin Bieber,"October 22, 2015",3.41
12,13.,Dame Tu Cosita,Maroon 5,"January 14, 2015",3.41
13,14.,Shake It Off,Katy Perry,"September 5, 2013",3.29
14,15.,Faded,OneRepublic,"May 31, 2013",3.21
15,16.,Dark Horse,Ed Sheeran,"October 7, 2014",3.20
16,17.,Lean On,El Chombo,"April 5, 2018",3.15
17,18.,Bailando,Taylor Swift,"August 18, 2014",3.03
18,19.,Girls Like You,Alan Walker,"December 3, 2015",3.00
19,20.,Let Her Go,Katy Perry,"February 20, 2014",2.99
20,21.,Mi Gente,Major Lazer Official,"March 22, 2015",2.99
21,22.,Hello,Enrique Iglesias,"April 11, 2014",2.98
22,23.,Perfect,Maroon 5,"May 31, 2018",2.97
23,24.,Waka Waka (This Time for Africa),Passenger,"July 25, 2012",2.93
24,25.,Blank Space,J Balvin,"June 29, 2017",2.88
25,26.,Chantaje,Adele,"October 22, 2015",2.80
26,27.,Baby Shark Dance,Ed Sheeran,"November 9, 2017",2.76
27,28.,Despacito,Shakira,"June 4, 2010",2.76
28,29.,Shape of You,Taylor Swift,"November 10, 2014",2.73
29,30.,See You Again,Shakira,"November 18, 2016",2.63

#question 2

In [68]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [69]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [72]:
driver.get("https://www.bcci.tv/")

In [75]:
search_btn1=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
search_btn1.click()

In [78]:
search_btn4=driver.find_element_by_xpath("/html/body/div[4]/header/div/h1")
search_btn4.click()

In [79]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [80]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[1]")
for i in Title_tag:
    Match_title.append(i.text)
Match_title[0:5]

['TEST', 'T20I', 'T20I', 'T20I', 'T20I']

In [81]:
Title_tag1=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/strong")
for i in Title_tag1:
    Series.append(i.text)
Series[0:5]

['4th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I']

In [82]:
Title_tag2=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span")
for i in Title_tag2:
    Place.append(i.text)
Place[0:5]

['Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad']

In [84]:
Title_tag3=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/span")
for i in Title_tag3:
    Date.append(i.text)
Date[0:5]

['04', '04', '12', '14', '16']

In [85]:
Title_tag4=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/div/span[2]")
for i in Title_tag4:
    Time.append(i.text)
Time[0:5]

['09:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST']

In [86]:
import pandas as pd
indiateams=pd.DataFrame()
indiateams['Match_title']=Match_title[0:13]
indiateams['Series']=Series[0:13]
indiateams['Place']=Place[0:13]
indiateams['Date']=Date[0:13]
indiateams['Time']=Time[0:13]

In [87]:
indiateams

,Match_title,Series,Place,Date,Time
0,TEST,4th Test,"Narendra Modi Stadium, Ahmedabad",04,09:30 IST
1,T20I,1st T20I,"Narendra Modi Stadium, Ahmedabad",04,19:00 IST
2,T20I,2nd T20I,"Narendra Modi Stadium, Ahmedabad",12,19:00 IST
3,T20I,3rd T20I,"Narendra Modi Stadium, Ahmedabad",14,19:00 IST
4,T20I,4th T20I,"Narendra Modi Stadium, Ahmedabad",16,19:00 IST
5,T20I,5th T20I,"Narendra Modi Stadium, Ahmedabad",18,19:00 IST
6,ODI,1st ODI,"Maharashtra Cricket Association Stadium, Pune",20,13:30 IST
7,ODI,2nd ODI,"Maharashtra Cricket Association Stadium, Pune",23,13:30 IST
8,ODI,3rd ODI,"Maharashtra Cricket Association Stadium, Pune",26,13:30 IST
9,TEST,1st Test,"Trent Bridge, Nottingham",28,15:30 IST
10,TEST,2nd Test,"Lord's, London",04,15:30 IST
11,TEST,3rd Test,"Headingley, Leeds",12,15:30 IST
12,TEST,4th Test,"The Oval, London",25,15:30 IST

#question 3

In [7]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [8]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [9]:
driver.get("https://www.guru99.com/")

In [10]:
search_selenium=driver.find_element_by_xpath("//*[@id='gsc-i-id2']")
search_selenium.send_keys("selenium exception handling")

In [11]:
search_btn=driver.find_element_by_xpath("//*[@id='___gcse_1']/div/div/form/table/tbody/tr/td[2]/button")
search_btn.click()

In [12]:
search_btn=driver.find_element_by_xpath("//*[@id='___gcse_1']/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a/b")
search_btn.click()

In [13]:
url="https://www.guru99.com/exception-handling-selenium.html"

In [14]:
driver.get(url)

In [15]:
name=[]
description=[]

In [18]:
titles_tag=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
for i in titles_tag:
    name.append(i.text)
name[1:9]

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException']

In [19]:
titles_tag1=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")
for i in titles_tag1:
    description.append(i.text)
description[1:9]

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.']

In [20]:
import pandas as pd
guru99=pd.DataFrame()
guru99['name']=name[1:9]
guru99['description']=description[1:9]

In [21]:
guru99

,name,description
0,Exception name,This type of Selenium exception occurs when an...
1,ElementNotVisibleException,This Selenium exception occurs when an element...
2,ElementNotSelectableException,This Exception occurs if an element could not ...
3,NoSuchElementException,This Exception occurs if the frame target to b...
4,NoSuchFrameException,This Exception occurs when you switch to no pr...
5,NoAlertPresentException,This Exception occurs if the window target to ...
6,NoSuchWindowException,This Selenium exception occurs happens when th...
7,StaleElementReferenceException,The WebDriver is acting after you quit the bro...

#question 4

In [22]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [23]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [24]:
driver.get("https://statisticstimes.com/")

In [25]:
search_btn=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
search_btn.click()

In [26]:
search_btn1=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
search_btn1.click()

In [28]:
search_btn2=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_btn2.click()

In [29]:
url="https://statisticstimes.com/economy/india/indian-states-gdp.php"

In [30]:
driver.get(url)

In [31]:
rank=[]
states=[]
GSDP_18_19=[]
GSDP_19_20=[]
share_2019=[]
GDP_billion=[]

In [34]:
titles_tag=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
for i in titles_tag:
    rank.append(i.text)
rank[0:9]

['Rank', '19-20', 'Rank', '19-20', '1', '2', '3', '4', '5']

In [36]:
titles_tag1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in titles_tag1:
    states.append(i.text)
states[0:9]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana']

In [39]:
titles_tag2=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in titles_tag2:
    GSDP_18_19.append(i.text)
GSDP_18_19[0:9]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031']

In [40]:
titles_tag3=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in titles_tag3:
    GSDP_19_20.append(i.text)
GSDP_19_20[0:9]

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604']

In [42]:
titles_tag4=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in titles_tag4:
    share_2019.append(i.text)
share_2019[0:9]

['13.88%',
 '8.59%',
 '8.35%',
 '7.92%',
 '7.87%',
 '5.75%',
 '4.97%',
 '4.55%',
 '4.54%']

In [43]:
titles_tag5=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in titles_tag5:
    GDP_billion.append(i.text)
GDP_billion[0:9]

['398.145',
 '246.529',
 '239.656',
 '227.276',
 '225.798',
 '164.820',
 '142.543',
 '130.501',
 '130.210']

In [44]:
import pandas as pd
indian=pd.DataFrame()
indian['rank']=rank[0:32]
indian['states']=states[0:32]
indian['GSDP_18_19']=GSDP_18_19[0:32]
indian['GSDP_19_20']=GSDP_19_20[0:32]
indian['share_2019']=share_2019[0:32]
indian['GDP_billion']=GDP_billion[0:32]

In [45]:
indian

     rank             states GSDP_18_19 GSDP_19_20 share_2019 GDP_billion
0    Rank        Maharashtra  2,632,792          -     13.88%     398.145
1   19-20         Tamil Nadu  1,630,208  1,845,853      8.59%     246.529
2    Rank      Uttar Pradesh  1,584,764  1,687,818      8.35%     239.656
3   19-20            Gujarat  1,502,899          -      7.92%     227.276
4       1          Karnataka  1,493,127  1,631,977      7.87%     225.798
5       2        West Bengal  1,089,898  1,253,832      5.75%     164.820
6       3          Rajasthan    942,586  1,020,989      4.97%     142.543
7       4     Andhra Pradesh    862,957    972,782      4.55%     130.501
8       5          Telangana    861,031    969,604      4.54%     130.210
9       6     Madhya Pradesh    809,592    906,672      4.27%     122.431
10      7             Kerala    781,653          -      4.12%     118.206
11      8              Delhi    774,870    856,112      4.08%     117.180
12      9            Haryana    734,163    831,610      3.87%     111.024
13     10              Bihar    530,363    611,804      2.80%      80.204
14     11             Punjab    526,376    574,760      2.77%      79.601
15     12             Odisha    487,805    521,275      2.57%      73.768
16     13              Assam    315,881          -      1.67%      47.769
17     14       Chhattisgarh    304,063    329,180      1.60%      45.982
18     15          Jharkhand    297,204    328,598      1.57%      44.945
19     16        Uttarakhand    245,895          -      1.30%      37.186
20     17    Jammu & Kashmir    155,956          -      0.82%      23.584
21     18   Himachal Pradesh    153,845    165,472      0.81%      23.265
22     19                Goa     73,170     80,449      0.39%      11.065
23     20            Tripura     49,845     55,984      0.26%       7.538
24     21         Chandigarh     42,114          -      0.22%       6.369
25     22         Puducherry     34,433     38,253      0.18%       5.207
26     23          Meghalaya     33,481     36,572      0.18%       5.063
27     24             Sikkim     28,723     32,496      0.15%       4.344
28     25            Manipur     27,870     31,790      0.15%       4.215
29     26           Nagaland     27,283          -      0.14%       4.126
30     27  Arunachal Pradesh     24,603          -      0.13%       3.721
31     28            Mizoram     22,287     26,503      0.12%       3.370

#question 5

In [51]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [52]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [53]:
driver.get("https://www.github.com/")

In [54]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
search_btn.click()

In [55]:
search_btn1=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[1]/li/a")
search_btn1.click()

In [56]:
search_btn2=driver.find_element_by_xpath("/html/body/div[4]/main/div[1]/nav/div/a[3]")
search_btn2.click()

In [57]:
url="https://github.com/trending"

In [58]:
driver.get(url)

In [59]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [60]:
title_tag=driver.find_elements_by_xpath("//span[@class='text-normal']")
for i in title_tag:
    repository_title.append(i.text)
repository_title[0:9]

['gskinnerTeam /',
 'flutter /',
 'google /',
 'muguruzawang /',
 'dolthub /',
 'influxdata /',
 'aws /',
 'Developer-Y /',
 '52CV /']

In [61]:
title_tag1=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/p")
for i in title_tag1:
    repository_description.append(i.text)
repository_description[0:5]

['A platform adaptive Flutter app for desktop, mobile and web.',
 'Flutter makes it easy and fast to build beautiful apps for mobile and beyond.',
 'Googletest - Google Testing and Mocking Framework',
 '优化版本的京东茅台抢购神器',
 "Dolt – It's Git for Data"]

In [35]:
title_tag2=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]")
for i in title_tag2:
    contributors_count.append(i.text)
contributors_count[0:9]

['227', '26', '83', '175', '1,636', '749', '1,698', '1,116', '174']

In [36]:
title_tag3=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in title_tag3:
    language_used.append(i.text)
language_used[0:9]

['Python',
 'TypeScript',
 'C',
 'Clojure',
 'Go',
 'Objective-C',
 'Objective-C',
 'C',
 'VBA']

In [37]:
import pandas as pd
Github=pd.DataFrame()
Github['repository_title']=repository_title[0:9]
Github['repository_description']=repository_description[0:9]
Github['contributors_count']=contributors_count[0:9]
Github['language_used']=language_used[0:9]

In [38]:
Github

,repository_title,repository_description,contributors_count,language_used
0,PaddlePaddle /,"PaddlePaddle GAN library, including lots of in...",227,Python
1,PaddlePaddle /,"PaddlePaddle GAN library, including lots of in...",26,TypeScript
2,tone-row /,"PaddlePaddle GAN library, including lots of in...",83,C
3,tostercx /,A small app for making quick flowcharts from t...,175,Clojure
4,athensresearch /,Desktop app links: https://tinyurl.com/athens-...,"1,636",Go
5,aws /,AWS SDK for the Go programming language.,749,Objective-C
6,firebase /,Firebase iOS SDK,"1,698",Objective-C
7,WenchaoD /,"A fully customizable iOS calendar library, com...","1,116",C
8,acidanthera /,OpenCore bootloader,174,VBA

#question 6

In [77]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [78]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [79]:
driver.get("https://www.billboard.com/")

In [81]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/a")
search_btn.click()

In [82]:
search_btn1=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/span/span/span/span[1]/ul/li[1]/a")
search_btn1.click()

In [90]:
Song_name=[]
Artist_name=[]
Last_wee_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [105]:
brand_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[1]")
for i in brand_tag:
    Song_name.append(i.text)
Song_name[0:9]

['Drivers License',
 'Up',
 'Go Crazy',
 '34+35',
 'Blinding Lights',
 'Save Your Tears',
 'Mood',
 'Calling My Phone',
 'Positions']

In [106]:
brand_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[2]")
for i in brand_tag:
    Artist_name.append(i.text)
Artist_name[0:9]

['Olivia Rodrigo',
 'Cardi B',
 'Chris Brown & Young Thug',
 'Ariana Grande',
 'The Weeknd',
 'The Weeknd',
 '24kGoldn Featuring iann dior',
 'Lil Tjay Featuring 6LACK',
 'Ariana Grande']

In [107]:
brand_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[2]")
for i in brand_tag:
    Last_wee_rank.append(i.text)
Last_wee_rank[0:9]

['1', '5', '8', '2', '1', '6', '1', '3', '1']

In [108]:
brand_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[3]")
for i in brand_tag:
    Peak_rank.append(i.text)
Peak_rank[0:9]

['1', '2', '3', '17', '64', '4', '29', '2', '18']

In [109]:
brand_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[4]")
for i in brand_tag:
    Weeks_on_board.append(i.text)
Weeks_on_board[0:9]

['7', '3', '42', '11', '25', '16', '8', '16', '17']

In [110]:
import pandas as pd
songs=pd.DataFrame()
songs['Song_name']=Song_name[0:99]
songs['Artist_name']=Artist_name[0:99]
songs['Last_wee_rank']=Last_wee_rank[0:99]
songs['Peak_rank']=Peak_rank[0:99]
songs['Weeks_on_board']=Weeks_on_board[0:99]

In [111]:
songs

,Song_name,Artist_name,Last_wee_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,17,11
4,Blinding Lights,The Weeknd,1,64,25
...,...,...,...,...,...
94,Cover Me Up,Morgan Wallen,52,8,7
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,8,14,9
98,Track Star,Mooski,-,99,6

#qustion 7

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [5]:
search_btn1=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
search_btn1.click()

In [6]:
url="https://www.naukri.com/hr-recruiters-consultants"

In [7]:
driver.get(url)

In [8]:
search_DS=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_DS.send_keys("Data science")

In [9]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_btn.click()

In [36]:
name=[]
designation=[]
company=[]
skills_hire_for=[]
Location=[]

In [37]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div/div[2]/div[1]/div[1]/p/a[1]/span")
for i in titles_tag:
    name.append(i.text)
name[0:5]

['shravan Kumar Gaddam',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Balu Ramesh']

In [38]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/span[1]")
for i in titles_tag:
    designation.append(i.text)
designation[0:5]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR']

In [39]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[2]")
for i in titles_tag:
    company.append(i.text)
company[0:5]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP']

In [40]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[2]")
for i in titles_tag:
    skills_hire_for.append(i.text)
skills_hire_for[0:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics']

In [41]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/span/small")
for i in titles_tag:
    Location.append(i.text)
Location[0:5]

['Delhi', 'Hyderabad / Secunderabad', 'Chandigarh', 'Ahmedabad', 'Pune']

In [54]:
import pandas as pd
naukri=pd.DataFrame()
naukri['name']=name[0:25]
naukri['designation']=designation[0:25]
naukri['company']=company[0:25]
naukri['skills_hire_for']=skills_hire_for[0:25]
naukri['Location']=Location[0:25]

In [55]:
naukri

,name,designation,company,skills_hire_for,Location
0,shravan Kumar Gaddam,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,subhas patel,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Abhishek - Only Analytics Hiring - India and,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Balu Ramesh,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,InstaFinancials,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Mubarak,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Manisha Yadav,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Riya Rajesh,Programme Manager,IFMR,Data Science,Chennai
9,Rashmi Bhattacharjee,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Rithika dadwal,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,Sandhya Khandagale,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Dhruv Dev Dubey,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,kumar,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Rajat Kumar,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Prateek Kumar,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kanan,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Brad,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Madhusudhan Sridhar,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Gaurav Chouhan,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Ashwini,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rajani Nagaraj,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Amir Chowdhury,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Shailja Mishra,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Sagar Lama,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune

#question 8

In [72]:
import selenium
import pandas as pd
from selenium import webdriver

In [73]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [74]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [75]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [76]:
titles_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in titles_tag:
    Book_name.append(i.text)
Book_name[3:7]

['Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets']

In [37]:
titles_tag1=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in titles_tag1:
    Author_name.append(i.text)
Author_name[0:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [38]:
titles_tag2=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in titles_tag2:
    Volumes_sold.append(i.text)
Volumes_sold[0:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [39]:
titles_tag3=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in titles_tag3:
    Publisher.append(i.text)
Publisher[0:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [40]:
titles_tag3=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in titles_tag3:
    Genre.append(i.text)
Genre[0:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [41]:
import pandas as pd
books=pd.DataFrame()
books['Book_name']=Book_name[0:99]
books['Author_name']=Author_name[0:99]
books['Volumes_sold']=Volumes_sold[0:99]
books['Publisher']=Publisher[0:99]
books['Genre']=Genre[0:99]

In [42]:
books

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General

#question9

In [38]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [39]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [40]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [41]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Vote=[]

In [42]:
titles_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in titles_tag:
    Name.append(i.text)
Name[0:5]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100']

In [43]:
titles_tag1=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in titles_tag1:
    Year_span.append(i.text)
Year_span[0:5]

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)', '(2014–2020)']

In [44]:
titles_tag2=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in titles_tag2:
    Genre.append(i.text)
Genre[0:5]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi']

In [45]:
titles_tag3=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in titles_tag3:
    Run_time.append(i.text)
Run_time[0:5]

['57 min', '51 min', '44 min', '60 min', '43 min']

In [46]:
titles_tag4=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in titles_tag4:
    Ratings.append(i.text)
Ratings[0:5]

['9.3', '8.7', '8.2', '7.6', '7.6']

In [50]:
titles_tag5=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in titles_tag5:
    Vote.append(i.text)
Vote[0:5]

['1,778,368', '828,964', '856,836', '257,225', '217,766']

In [51]:
import pandas as pd
tvseries=pd.DataFrame()
tvseries['Name']=Name[0:99]
tvseries['Year_span']=Year_span[0:99]
tvseries['Genre']=Genre[0:99]
tvseries['Run_time']=Run_time[0:99]
tvseries['Ratings']=Ratings[0:99]
tvseries['Vote']=Vote[0:99]

In [52]:
tvseries

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,368"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,964"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,836"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,225"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,766"
...,...,...,...,...,...,...
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"60,640"
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,766"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,088"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,253"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,202"

#question 10

In [16]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [17]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [18]:
driver.get("https://archive.ics.uci.edu/")

In [19]:
search_btn=driver.find_element_by_xpath("//html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
search_btn.click()

In [20]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [23]:
titles_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in titles_tag:
    Dataset_name.append(i.text)
Dataset_name[0:5]

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data', 'Arrhythmia']

In [24]:
titles_tag1=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in titles_tag1:
    Data_type.append(i.text)
Data_type[0:5]

['Data Types', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ']

In [25]:
titles_tag2=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in titles_tag2:
    Task.append(i.text)
Task[0:5]

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ']

In [26]:
titles_tag3=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in titles_tag3:
    Attribute_type.append(i.text)
Attribute_type[0:5]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ']

In [27]:
titles_tag4=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in titles_tag4:
    No_of_instances.append(i.text)
No_of_instances[0:5]

['# Instances', '4177 ', '48842 ', '798 ', '37711 ']

In [28]:
titles_tag5=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in titles_tag5:
    No_of_attribute.append(i.text)
No_of_attribute[0:5]

['# Attributes', '8 ', '14 ', '38 ', '294 ']

In [29]:
titles_tag6=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in titles_tag6:
    Year.append(i.text)
Year[0:5]

['Year', '1995 ', '1996 ', ' ', '1998 ']

In [30]:
import pandas as pd
UCI=pd.DataFrame()
UCI['Dataset_name']=Dataset_name[1:584]
UCI['Data_type']=Data_type[1:584]
UCI['Task']=Task[1:584]
UCI['Attribute_type']=Attribute_type[1:584]
UCI['No_of_instances']=No_of_instances[1:584]
UCI['No_of_attribute']=No_of_attribute[1:584]
UCI['Year']=Year[1:584]

In [31]:
UCI

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
578,LastFM Asia Social Network,Multivariate,"Classification, Clustering",Integer,70,70,2020
579,Wisesight Sentiment Corpus,Multivariate,Classification,,7624,7842,2020
580,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Text",Classification,,26737,4,2020
581,Dry Bean Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,in-vehicle coupon recommendation,Multivariate,Classification,"Integer, Real",13611,17,2020